<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title>TODO List</title>
</head>
<body>
<div class="container">
    <form th:action="@{/performItem}" th:method="POST" th:object="${item}">
        <legend th:text="'Задача № ' + *{id}"></legend>
        <input name="id" th:field="*{id}" type="hidden"/>
        <div class="form-group">
            <label for="name">Название</label>
            <input readonly class="form-control" id="name" name="name" th:field="*{name}" type="text">
            <label for="description">Описание</label>
            <textarea readonly class="form-control" id="description" name="description" th:field="*{description}"
                      type="text"></textarea>
            <label for="created">Дата создания</label>
            <input readonly class="form-control" id="created" name="created" th:field="*{created}" type="text">
            <div class="form-check">
                <input onclick="return false;" class="form-check-input" id="done" name="done" th:field="*{done}" type="checkbox">
                <label class="form-check-label" for="done">Выполнено</label>
            </div>
        </div>
        <button th:disabled="${item.done}" class="btn btn-success" name="done_" type="submit">Выполнено</button>
        <button class="btn btn-secondary" name="edit" th:formaction="'/editItemForm/'" type="submit">Редактировать</button>
        <button class="btn btn-danger" name="edit" th:formaction="'/deleteItem/'" type="submit">Удалить</button>
        <a th:href="@{|/items|}" class="btn btn-link">Назад</a>
    </form>
</div>
</body>
</html>